before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
<style>
body {
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
}
<style>
html {
    line-height: 1.15;
    text-size-adjust: 100%;
}
<style>
html {
    line-height: 16px;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
